altgraph==0.17
appnope==0.1.0
backcall==0.2.0
colorama==0.4.4
decorator==4.4.2
Deprecated==1.2.10
future==0.18.2
helpdev==0.7.1
importlib-metadata==2.0.0
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.17.2
numpy==1.19.4
parso==0.7.1
pefile==2021.5.24
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.8
ptyprocess==0.6.0
Pygments==2.7.2
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PyOpenGL==3.1.5
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyQt5-stubs==5.14.2.2
PyQtChart==5.15.4
PyQtChart-Qt5==5.15.2
pyqtgraph==0.11.0
pywin32-ctypes==0.2.0
qdarkgraystyle==1.0.2
QDarkStyle==2.8.1
QtPy==1.9.0
traitlets==5.0.5
wcwidth==0.2.5
wrapt==1.12.1
zipp==3.4.0
