certifi==2020.6.20
cffi==1.15.0
click==8.1.2
colorama==0.4.4
cryptography==37.0.0
gitdb==4.0.9
GitPython==3.1.27
numpy==1.22.3
objprint==0.2.1
pandas==1.4.2
ply==3.11
portalocker==2.4.0
pycparser==2.21
pyserial==3.5
python-dateutil==2.8.2
pytz==2022.1
pywin32==303
scipy==1.8.0
six==1.16.0
smmap==5.0.0
torch==1.11.0
traceback-with-variables==2.0.4
typing_extensions==4.2.0
viztracer==0.15.1
waveforms==1.5.32
wincertstore==0.2
